* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0855ad;
    z-index: 999;
}

header .logo {
    max-width: 130px;
}

header .nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

header .nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

header .nav li {
    display: flex;
    align-items: center;
}

header .nav li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 12px 16px;
    margin-left: 0;
}

header .nav li a:hover {
    color: #00b4d8;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 150px 40px 60px;
    background: #002b5b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    overflow: hidden;
    z-index: 1;
}

/* Círculo menor no canto superior esquerdo */
.circulo-esquerdo {
    position: absolute;
    top: 90px;
    left: 40px;
    width: 300px;
    height: 300px;
    background-color: #14141400;
    clip-path: circle(50% at center);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    margin-top: 100px;
}

.circulo-esquerdo img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.resgate {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.resgate img {
    width: 600px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.conteiner {
    max-width: 600px;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 25px;
    z-index: 1;
}

.conteiner h1 {
    font-size: 2rem;
    color: #ffffff;
}

.conteiner h3 {
    font-size: 1.4em;
    color: #a9d6e5;
}

.conteiner p {
    font-size: 1em;
    line-height: 1.5em;
}